.NavBar {
    display: flex;
    flex-direction: row;
    background-color: rgb(29, 130, 197);
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);

    a {
        border-radius: 10px;
        padding: 0.5rem;
        text-decoration: none;
        font-size: 30px;
        margin: 1rem 0;
        margin-right: 0.5rem;

        &:hover {
            scale: (1.1);
            box-shadow: 0 0 3px 3px rgb(89, 192, 34);
        }

        &:active {
            color: #ddd;
        }
    }

    .active_link {
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background-color: rgb(204, 204, 204);
        box-shadow: 0 0 5px 5px rgb(89, 192, 34),
            0 10px 10px 10px rgba(1, 9, 13, 0.173);
    }

    .nav_cursor {
        background: rgb(22, 208, 155);
        height: 5px;
        transition: all .2s ease;
        position: absolute;
        bottom:5px;
        border-radius: 3rem;
    }

}